body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.main-container {
  width: 450px; /* Use a percentage for flexibility */
  max-width: 100%; /* Set a maximum width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  margin-top: 1rem;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input-container > button {
  border: 1px solid black;
  border-radius: 5rem;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: width 0.5s, height 0.5s;
}

.input-container > button:hover {
  width: 150px;
  height: 150px;
  border: 3px solid rgb(255, 193, 78);
}

.input-container > button > img {
  width: 50px;
  transition: width 0.5s, height 0.5s;
}
.input-container > button:hover > img {
  width: 100px;
}

.result-container {
  display: flex;
  margin-top: 1rem;
}

.result-container img {
  width: 150px;
}

.history-container {
  text-align: center;
  font-size: large;
  margin-top: 2rem;
}

.reset-btn {
  cursor: pointer;
}

h1 {
  margin-bottom: 0;
}

.history {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.result-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .main-container {
    width: 250px;
  }
  .input-container {
    margin-top: 1rem;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .input-container > button {
    border: 1px solid black;
    width: 70px;
    height: 70px;
  }

  .input-container > button > img {
    width: 35px;
  }
  .input-container > button:hover {
    width: 80px;
    height: 80px;
  }
  .input-container > button:hover > img {
    width: 50px;
  }
  h1 {
    font-size: 1.5rem !important;
  }
}
